<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full md:w-auto border p-4">
  <legend class="fieldset-legend">{{ schema.display_name }}</legend>
  <form id="algorithm-params-form">
    {% for field, config in schema.properties.items %}
    <div class="mb-4">
      <!-- Label with tooltip -->
      <label for="{{ field }}" class="label flex items-center justify-between">
        <span class="label-text font-medium">{{ config.title|default:field }}</span>
        {% if config.description %}
        <span class="tooltip tooltip-bottom" data-tip="{{ config.description }}">
          <i class="w-4 h-4 cursor-pointer" data-lucide="circle-help"></i>
        </span>
        {% endif %}
      </label>

      {% if config.enum %}
      <!-- Standard select for enums -->
      <select name="{{ field }}" id="{{ field }}" class="select select-xs">
        {% for option in config.enum %}
        <option value="{{ option }}" {% if config.default == option %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>

      {% elif config.type == "boolean" %}
      <!-- Checkbox for boolean -->
      <label class="label cursor-pointer gap-2">
        <input type="checkbox" name="{{ field }}" id="{{ field }}" class="checkbox checkbox-xs" {% if config.default %}checked{% endif %}/>
        <span class="label-text">{{ config.title|default:field }}</span>
      </label>


      {% else %}
      <!-- Default text input -->
      <input type="text" name="{{ field }}" id="{{ field }}" class="input input-xs" value="{{ config.default }}" />
      {% endif %}

    </div>
    {% endfor %}

  </form>
</fieldset>
<script>
  lucide.createIcons();
</script>
