<div class="navbar bg-base-200 sticky top-0 z-10">
    <div class="navbar-start">
  
      <label for="drawer-toggle" tabindex="0" role="button" class="btn btn-ghost btn-circle drawer-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </label>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl">ml-playground</a>
    </div>
    <div class="navbar-end">
      <div class="menu p-4 pt-2 text-base-content">
              
        <select data-choose-theme class="select select-bordered w-full max-w-xs">
          <option value="light">light</option>
          <option value="dark">dark</option>
          <option value="cupcake">cupcake</option>
          <option value="bumblebee">bumblebee</option>
          <option value="emerald">emerald</option>
          <option value="corporate">corporate</option>
          <option value="synthwave">synthwave</option>
          <option value="retro">retro</option>
          <option value="cyberpunk">cyberpunk</option>
          <option value="valentine">valentine</option>
          <option value="halloween">halloween</option>
          <option value="garden">garden</option>
          <option value="forest">forest</option>
          <option value="aqua">aqua</option>
          <option value="lofi">lofi</option>
          <option value="pastel">pastel</option>
          <option value="fantasy">fantasy</option>
          <option value="wireframe">wireframe</option>
          <option value="black">black</option>
          <option value="luxury">luxury</option>
          <option value="dracula">dracula</option>
          <option value="cmyk">cmyk</option>
          <option value="autumn">autumn</option>
          <option value="business">business</option>
          <option value="acid">acid</option>
          <option value="lemonade">lemonade</option>
          <option value="night">night</option>
          <option value="coffee">coffee</option>
          <option value="winter">winter</option>
          <option value="dim">dim</option>
          <option value="nord">nord</option>
          <option value="sunset">sunset</option>
        </select>
      </div>
      <button class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
      <button class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button>
    </div>
  </div>
